<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/mvc
    					http://www.springframework.org/schema/mvc/spring-mvc.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- 引入Spring配置文件 -->
	<import resource="classpath:config/applicationContext-mybatis.xml" />

	<!-- 组件扫描：服务层（实现类）和控制层是组件，类里的注解表明注入关系 ，是基于xml配置文件的变种 -->
	<!-- 组件（服务层（实现类）和控制层）注解扫描的结果，就是通知Spring依赖注入，因而不必在Spring配置文件里显式定义-->
	<context:component-scan base-package="com.memmana" />	
	
	<!-- 注解驱动，实质上是加载处理注解的映射器和适配器 -->
	<mvc:annotation-driven />
	
	<!-- 映射静态资源文件（即非动态页文件）在特定的路径里查找 -->
	<mvc:resources  mapping="/css/**" location="/css/"/>
	<mvc:resources  mapping="/js/**" location="/js/"/>

	<!-- 配置JSP视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 视图文件地址前缀 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<!-- 视图文件地址后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

</beans>